<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find mrm_description)/launch/spawn.launch"/>
  <include file="$(find mrm_moveit_config)/launch/move_group.launch"/>
  <include file="$(find mrm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="True"/>
  </include>
</launch> 
